@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic&subset=latin,cyrillic);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Roboto Condensed', sans-serif;	
	margin:0;
	padding:0;	
	background: url('../images/bg1.png') top repeat-x;
	
	
	
}
/*Обертка*/


#wrapper {
	width:1256px;
	margin:0 auto;	
	
}
/*меню*/


#menu{
	margin-top:0px;
	padding-left:520px;
	/* padding-left:173px;*/
	height:55px;
	
	
} 
#menu ul li {
	float: left;
	
	
	

}
#menu ul li a{
	color:#EEF5FA;
	padding:0 10px;	
	font-size:14px;	
	line-height:50px;
	display:block;
	height:57px;
	width:95px;
	text-align:center;
	text-decoration:none;
	border-right:1px solid #F8E4FD;
	
	
	
	}


#menu ul li a:hover {
	background:#88D3F3;
	text-decoration:underline;
}
/*headeR логотип*/
#header{
	height:100px;	
	
	padding-top:10px;
	

}

#content a {
	color:#69B4EB;
	text-decoration:none;
	font-size:15px;
	
}

#content a:hover {
	color:#69B4EB;
	text-decoration:underline;
font-size:15px;
}
/* контент*/
#content{
	margin:4px auto 0 43px;
	width: 40%;
	float:left;	
	padding-top:13px;	
	min-height:400px;
	

		
}
/*файлы сайдбар*/
#sideb{

	min-height:400px;
	width:448px;
	float:left; 
	padding-top:0px;
	margin-top:0px;
	
	
}
/*footer*/

#guide{
	min-height:400px;
	float:right; 
	width:20%;
	padding-top:6px;
	margin-top:0px;
	
}
#foot{
	margin-top:30px;
	margin-bottom:2px;
	height:250px;
	border-top:6px solid #FFFFFF;
	background-color:#5B96C3;
	border-bottom:2px solid #FFFFFF;
	padding-top:85px;
}

.clear {
	clear:both;
	height:100px;
}

/*фото главная*/
#photo1{
	margin:0px auto 18px 66px;		
}

#bigPhoto{
	margin:0px auto 18px 20px;		
}

.maps{
	margin:0px auto 18px 40px;		
}

/*Логотип*/
#logo {
	position:relative;
	top:0px;
	left: 70px;
	float:left;
	z-index:1;

}
/*Логотип инверс*/
#logoInverse {
	
	position:relative;
	left:250px;
	bottom:80px;

}


#headerImg
{
	position:relative;
	top:20px;
	left:50px;
	z-index:11;
	

	
}





/*Логотип в меню*/
#logo_menu {
	position:relative;
	left:50px;
	top:-5px;
	float:left;
}
/* заголовки*/
.hr { 
margin:10px auto auto 20px;
color:#333333;
font-size:14px;
font-family: 'Arial', sans-serif;
font-weight:bold;
	
} 
/*Темы*/
.hr2 {

	margin:10px auto 15px 0px;	
	font-weight:bold;
	font-size:16px;
	text-transform:uppercase;
	
	
	
	

	
}  

h1 {
	
	margin:10px auto 15px 0px;	
	font-weight:bold;
	font-size:16px;
	text-transform:uppercase;
	
}
.conCon {
	border-bottom:1px solid #E1E8ED;
	margin:10px 20px 35px 15px;
	
	
	}

/*Тексты*/
.text {
	margin: 10px 20px auto 10px;
	font-size:14px;
	color:#565656;
	line-height:23px;
	
}

.hrGuide {
	margin: 10px 20px auto 10px;
	font-size:12px;
	color:#565656;
	line-height:23px;
	font-style:italic;
	
}

.hrGuide a{
	color:#69B4EB;


}
.hrguide a:hover {
	
	text-decoration:underline;
}


/*текст в футере*/
.footP {
	
	color:#EEF5FA;	
	font-size:12px;
	text-indent:3px;
	margin-left:17px;
	text-transform:uppercase;
}
/*текст в футере справа*/
.footPRight {
	
	color:#EEF5FA;		
	font-size:10px;	
	margin-right:45px;
	text-transform:uppercase;
	text-align:right;
	float:right;
}

#video {
	text-align:center;
	padding-bottom:18px;
	
	
}

#audio {
	margin:10px auto 10px 0px;	
	padding:1px;
	
	
}

/*подписи к медиа*/
.hr4 {
	margin:15px auto 25px 20px;	
	padding-top:10px;
	color:#585858;
	font-size:12px;
	text-transform:uppercase;
	
	
}
/*подписи к аудио*/
.hr5 {

	color:#585858;
	font-size:10px;
	padding-bottom:10px;
	text-transform:uppercase;
	
	
	
}

.hr6 {

	color:#585858;
	font-size:10px;
	padding-bottom:10px;
	text-transform:uppercase;
	
	
	
}
.youtube{
	margin-bottom:40px;
}

.sideCon{
	
	margin:auto 25px 10px 25px;
	padding:auto 0px 18px auto;
	
	background-color:#EEF5FA;
	border:1px solid #E1E8ED;
	
	
}
.GuideCon{
	
	margin:auto 10px 10px 0px;
	height:320px;
	border-bottom:1px solid #E1E8ED;
	
	
	
}


.GuideConVideo{
	
	margin:auto 10px 10px 0px;
	height:340px;
	border-bottom:1px solid #E1E8ED;
	
	
	
}



.GuideConVideoLast{
	
	margin:auto 10px 10px 0px;
	height:340px;

	
}

.sideConLast{
	margin:auto 25px 10px 25px;
	
	background-color:#EEF5FA;
	border:1px solid #E1E8ED;
	
	
}

.GuideConLast{
	
	margin:auto 10px 10px 0px;
	height:320px;
	
	
	
	
}

.GuideConAudio1{
	
	margin:auto 10px 10px 0px;
	height:330px;
	border-bottom:1px solid #E1E8ED;
	
	
	
}
.GuideConAudio2{
	
	margin:auto 10px 10px 0px;
	height:240px;
	border-bottom:1px solid #E1E8ED;
	
	
	
}


.contacts {
	
	margin:10px 20px 35px 10px;
	font-size:14px;
	line-height:23px;
	border-bottom:1px solid #E1E8ED;
	padding-bottom:35px;
	
	
	
}
/*audio-player*/
@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome-webfont.eot?#iefix") format("eot"), 
    	 url("../fonts/fontawesome-webfont.woff") format("woff"), 
    	 url("../fonts/fontawesome-webfont.ttf") format("truetype"), 
    	 url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
    font-weight: 100;
    font-style: normal;
	
}


.jp-gui a {
    text-decoration: none;
	font-size:10px;
}

.jp-title {
    font-size: 12px;
    text-align: center;
    color: #585858;
}
 
.jp-title ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.jp-gui {
	position: relative;
	background: #86C8EC;
	background: -moz-linear-gradient(top,  #86C8EC 0%, #7BBDE1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86C8EC), color-stop(100%,#7BBDE1));
	background: -webkit-linear-gradient(top,  #86C8EC0%,#7BBDE1 100%);
	background: -o-linear-gradient(top,  #86C8EC 0%,#7BBDE1 100%);
	background: -ms-linear-gradient(top,  #86C8EC 0%,#7BBDE1 100%);
	background: linear-gradient(to bottom,  #86C8EC 0%,#7BBDE1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86C8EC', endColorstr='#7BBDE1',GradientType=0 );
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);    
    box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);
   
	overflow: hidden;
	margin-top: 10px;
}

.jp-jplayer, .jp-audio {
    width: 360px;
    margin: 10px auto;
}

.jp-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "FontAwesome";
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.jp-controls li {
    display: inline;
}

.jp-controls a {
    color: #fff;
}

.jp-play,.jp-pause {
    width: 50px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    border-right: 1px solid #60ABE2;
}

.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
    background-color: #60ABE2;
}

.jp-mute,.jp-unmute {
    position: absolute;
    right: 55px;
    top: 0;
    width: 20px;
    height: 40px;
    display: inline-block;
    line-height: 39px;
}

.jp-mute {
    text-align: left;
}

.jp-volume-bar {
    position: absolute;
    right: 8px;
    top: 16px;
    width: 45px;
    height: 4px;
    border-radius: 1px 1px 1px 1px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    background-color: #60ABE2;
    overflow: hidden;
}

.jp-volume-bar-value {
    background-color: #fff;
    height: 4px;
    border-radius: 1px 1px 1px 1px;
}

.jp-progress {
    background-color: #60ABE2;
    border-radius: 1px 1px 1px 1px;
    overflow: hidden;
    position: absolute;
    right: 123px;
    top: 16px;
    width: 170px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
}

.jp-play-bar {
    height: 6px;
    background-color: #fff;
    border-radius: 1px 1px 1px 1px;
}

.jp-time-holder {
	
    color: #FFF;
    font-size: 10px;
    line-height: 14px;
    position: absolute;
    right: 85px;
    top: 12px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.in {
	margin-left:10px;
	margin-top:10px;
	border:1px solid #E1E8ED;
	
	font-size:14px;
	font-family: 'Roboto Condensed', sans-serif;	
	
}
.submit {
	margin-left:10px;
	margin-top:10px;
	cursor: pointer;
	border: 1px solid #cecece;
	background: #86C8EC;
	
	padding: 8px 14px;
	width: 120px;
	Outline:none;
	color:#EEF5FA;
}
.submit:hover {
	margin-left:10px;
	margin-top:10px;
	background: #69B4EB;

	Outline:none;
}
.submit:active {
	margin-left:10px;
	margin-top:11px;
	
	margin-bottom: -1px;
	zoom: 1;
	Outline:none;
}

.social a {

color: #FFFFFF;
padding:7px;


}


.social  i {

vertical-align: middle;
font-size:24px;
transition: color .3s ease-in-out;  
color: #ffffff;

}


.social a:nth-child(1):hover i {

color: #56789C;

}

.social a:nth-child(2):hover i {

color: #E62117;

}

.social a:nth-child(3):hover i {

color: #415E9B;

}

.social a:nth-child(4):hover i {

color: #A8704D;

}

.social {
	
	font-size:12px;
	color:#ffffff;
	position:relative;
	float:right;
	top:13px;
	z-index:12;
	letter-spacing: 16px;

	
}

.socialLeft{
	
	font-size:12px;
	color:#ffffff;
	position:relative;
	margin-left:30px;
	float:left;
	top:19px;
	
	
}
	


#soc {
	height:70px;
}

.headerText {
margin:0px 0px auto auto;
color:#585858;
font-size:16px;
font-family: 'Arial', sans-serif;
font-weight:bold;
float:right;
}




#header i {

vertical-align: middle;
font-size:36px;
transition: color .3s ease-in-out;  
color: #2E8FC4;

}
#navbar{
	float:right;
	margin-top:14px;
	margin-right:100px;
}



.ul1{
	float: left;
	margin-top:0px;
	margin-left:0px;
	

    height: 80px;
    width: 60px;
    
    text-align: center;
	
	

}

.ul2{
	float: none;
	
	margin-top:2px;
	margin-left:30px;
	font-size:14px;
	
    height: 80px;
    width: 60px;
    
    text-align: vertical-align;

}

.ul3{
	float: none;
	margin-top:5px;
	margin-left:-18px;
font-size:14px;
    height: 100%;
    width: 80px;
    
    text-align: vertical-align;

}


.ul4{
	float: none;
	margin-top:5px;
	margin-left:5px;
	font-size:14px;
    height: 100%;
    width: 80px;
    
    text-align: vertical-align;

}

.ul5{
	float: none;
	margin-top:5px;
	margin-left:0px;
	font-size:14px;
    height: 100%;
    width: 80px;
    
    text-align: vertical-align;

}
.ul6{
	float: none;
	
	
	margin-left:30px;
	font-size:14px;
	
    height: 80px;
    width: 60px;
    
    text-align: vertical-align;

}



.ul7{
	float: none;
	
	
	margin-left:30px;
	font-size:8px;
	
    height: 100%;
    width: 80px;
    
    text-align: vertical-align;

}

#navbar ul{
        display: none;
     
        position: absolute;
        top: 100%;
 }
#navbar li:hover ul {
	display: block; 
	color:#2E8FC4;
}
#navbar a:hover i{
	color: #C4CBD0;
}



#navbar li {
        float: left;
        position: relative;
        height: 100%;
      }
#navbar li a {
        display: block;
        padding: 0px;
        width: 100px;
      
        text-decoration: none;
        text-align: center;
      }
	  
#navbar a{
	color: #69B4EB;
}
	  
#navbar a:hover{
	text-decoration:underline;
}
     

#foot a {

color: #FFFFFF;
padding:7px;

}


#foot i {

vertical-align: middle;
font-size:28px;
transition: color .3s ease-in-out;  
color: #F3F7F8;

}

 

#foot a:nth-child(1):hover i {

color: #585858;

}

#foot a:nth-child(2):hover i {

color: #585858;

}

#foot a:nth-child(3):hover i {

color: #585858;

}


#foot a:nth-child(4):hover i {

color: #585858;

}


.socialF {
	float:left;
	font-size:12px;
	color: #F3F7F8;
	margin-top:120px;
	margin-left:20px;	
}

.hrEvent{

color:#333333;
font-size:13px;
font-family: 'Arial', sans-serif;
font-weight:bold;
margin: 10px 20px auto 10px;

}

#white{
	height:63px;
	
}
.logoWhite{
	background: url(../images/logoSmallBl.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 49px; /* Ширина рисунка */ 
	height:60px; 
	float:left;
	z-index:12;
	-moz-transition: width ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: widthease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  width ease-in-out 0.5s 0.1s; 
	
}
.logoWhite:hover {
	
    width: 120px; /* Ширина рисунка */ 

	
}


.Fabri{
	background: url(../images/bash.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 111px; /* Ширина рисунка */ 
	margin-top:70px;
	height:40px; 
	float:left;
	-moz-transition: rotate ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: rotate ease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  rotate ease-in-out 0.5s 0.1s; 
	
}
.Fabri:hover {
	
   transform:rotate(-2deg);
	
	
}

.Fabri2{
	background: url(../images/fabri.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 75px; /* Ширина рисунка */ 
	margin-top:10px;
	margin-left:192px;
	height:40px; 
	-moz-transition: rotate ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: rotate ease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  rotate ease-in-out 0.5s 0.1s; 
	
}
.Fabri2:hover {
	
   transform:rotate(2deg);
	
	
}

.Fabri3{
	background: url(../images/heid.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 115px; /* Ширина рисунка */ 
	margin-top:10px;
	float:left;
	height:50px; 
	-moz-transition: rotate ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: rotate ease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  rotate ease-in-out 0.5s 0.1s; 
	
}
.Fabri3:hover {
	
  transform:rotate(2deg);
	
	
}

.Fabri4{
	background: url(../images/gaz.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 100px; /* Ширина рисунка */ 
margin-top:50px;
margin-left:170px;
	height:67px; 
	-moz-transition: rotate ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: rotate ease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  rotate ease-in-out 0.5s 0.1s; 
	
}
.Fabri4:hover {
	
 transform:rotate(2deg);
	
	
}

.Fabri5{
	background: url(../images/palfinger.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 130px; /* Ширина рисунка */ 
margin-top:18px;
	height:29px; 
float:left;
	-moz-transition: rotate ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: rotate ease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  rotate ease-in-out 0.5s 0.1s; 
	
}
.Fabri5:hover {
	
   transform:rotate(-2deg);
	
	
}

.Fabri6{
	background: url(../images/inman.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 100px; /* Ширина рисунка */ 
margin-top:20px;
	height:40px; 
margin-left:170px;
	-moz-transition: rotate ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: rotate ease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  rotate ease-in-out 0.5s 0.1s; 
	
}
.Fabri6:hover {
	
   transform:rotate(-2deg);
	
	
}


.Fabri7{
	background: url(../images/tau.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 50px; /* Ширина рисунка */ 
margin-top:10px;
	height:49px; 
margin-left:25px;
Float:left;
	-moz-transition: rotate ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: rotate ease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  rotate ease-in-out 0.5s 0.1s; 
	
}
.Fabri7:hover {
	
transform:rotate(-2deg);
	
	
}

.Fabri8{
	background: url(../images/gy.png);	
	display: block; /*  Рисунок как блочный элемент */
    width: 68px; /* Ширина рисунка */ 
margin-top:17px;
	height:40px; 
margin-left:185px;
	-moz-transition: rotate ease-in-out 0.5s 0.1s; /* для Firefox 15 */
	-webkit-transition: rotate ease-in-out 0.5s 0.1s; /* для Chrome и Safari */ 
	transition:  rotate ease-in-out 0.5s 0.1s; 
	
}
.Fabri8:hover {
	
  transform:rotate(2deg);
	
	
}

.PartnersText{
	text-align: center;
	padding-top:8px;
	height:20px;
	font-size:14px;
	background-color:#86C8EC;
	color:#ffffff;

}
#Partners {
	float:left;
	width:25%;
	color: #333333;
text-align:center;
margin-left:2%;

font-size:16px;

}
#borderFeatured{
	background-color:#86C8EC;
	height:20px;
	width:800px;
	margin-left:393px;
	margin-bottom:9px;
	text-align:left;
	font-size:14px;
	color:#ffffff;
	padding-top:2px;
}

#slide{
	height:375px;

	
}



/* CONTAINER */
div.orbit { width: 1px; height: 1px; position: relative; -moz-box-shadow: 0 0 10px rgba(0,0,0,.25); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);  overflow: hidden; }
div.orbit img { position: absolute; top: 0; left: 0; }
div.orbit a img { border: none; }


/* CAPTIONS */
div.caption { background: #000; background: rgba(0,0,0,.6); width: 100%; z-index: 1000; position: absolute; bottom:-100px; color: #fff; padding: 8px 0; }
div.caption span { padding: 0 10px; font-size: 14px; text-shadow: 0px 1px 0px rgba(0,0,0,.8); margin: 0; }
.orbit-caption { display: none; }

/* DIRECTIONAL NAV */
div.orbit:hover div.slider-nav { display: block; }
div.slider-nav { display: none; }
div.slider-nav span { width: 33px; height: 33px; text-indent: -9999px; position: absolute; z-index: 1000; top: 43%; cursor: pointer; }
div.slider-nav span.right { background: url('../images/right-arrow.png'); right: 10px; }
div.slider-nav span.left { background: url('../images/left-arrow.png'); left: 10px; }   

/* TIMER 
div.timer { width: 40px; height: 40px; overflow: hidden; position: absolute; top: 10px; right:10px; opacity: .6; cursor: pointer; z-index: 1001; }
span.rotator { display: block; width: 40px; height: 40px; position: absolute; top: 0; left: -20px; background: url('orbit/rotator-black.png') no-repeat; z-index: 3; }
span.mask { display: block; width: 20px; height: 40px; position: absolute; top: 0; right: 0; z-index: 2; overflow: hidden; }
span.rotator.move { left: 0; }
span.mask.move { width: 40px; left: 0; background: url('orbit/timer-black.png') repeat 0px 0px;  }
span.pause { display: block; width: 40px; height: 40px; position: absolute; top: 0; left: 0px; background: url('orbit/pause-black.png') no-repeat; z-index: 4; opacity: 0; }
div.timer:hover span.pause,
span.pause.active, 
div.timer:hover span.pause.active { opacity: 1; }*/

/* BULLET NAV 
.orbit-bullets { position: absolute; z-index: 1000; list-style: none; top: 10px; left: 7px; margin: 0; padding: 0; }
.orbit-bullets li { float: left; margin-left: 5px; cursor: pointer; color: #999; text-indent: -9999px; background: url(orbit/bullets.png) no-repeat; 0 0; width: 7px; height: 7px; overflow: hidden; }
.orbit-bullets li.active { color: #222; background-position: -7px 0; }*/


